<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjk1V1nZzf0z2VB71BBSCKumIQY4JCIzY</string>
	<key>GCM_SENDER_ID</key>
	<string>1064451167568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdu.janadem</string>
	<key>PROJECT_ID</key>
	<string>mdevfinalproject</string>
	<key>STORAGE_BUCKET</key>
	<string>mdevfinalproject.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064451167568:ios:3c5cd09beec56b22da0855</string>
</dict>
</plist>